/* Light mode colors */
:root {
    --custom-bg:#f8f9fa;
    --custom-text: #212529;
    --custom-text-secondary:#6c757d;
    --custom-primary:#0056b3;
    --custom-secondary:#6c757d;
    --custom-surface:#ffffff;
    --custom-link:#007bff;
    --bg-transparent-primary:248, 249, 250;
  
}

/* Dark mode colors */
[data-theme="dark"] {
    --custom-bg:#121212;
    --custom-text: #f8f9fa;
    --custom-text-secondary:#adb5bd;
    --custom-primary:#66ccff;
    --custom-secondary:#adb5bd;
    --custom-surface:#1e1e1e;
    --custom-link:#66ccff;
    --bg-transparent-primary:18, 18, 18;
    
}

.custom-link-color{
    color:var(--custom-link);
}

.transparent-bg-primary{
    background-color: rgba(var(--bg-transparent-primary), 0.8);
}


.bg-custom-secondary{
    background-color: var(--custom-secondary);
}

.bg-custom{
    background-color: var(--custom-surface);
}

.text-custom-primary{
    color:var(--custom-text);
}

.text-custom-secondary{
    color:var(--custom-secondary);
}

body {
    background-color: var(--custom-bg);
    color: var(--custom-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Color theme slider css*/
.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

input:checked+.slider {
    background-color: #007bff;
}

input:checked+.slider::before {
    transform: translateX(26px);
}

.nav-link  {
    font-size: 1.3rem;
    transition: color 0.3s;
}

.nav-link.active {
    display: inline-block;
    border-bottom: 2px solid blue;
    font-weight: bold;
}

.admin-sidebar{
    border-right: 2px solid var(--custom-text-secondary);
}


/* Custom Theme Guide Card */
.theme-guide {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 1050;
    animation: fadeIn 0.5s ease-out;
}

/* Styling for the card and pointer */
.theme-guide .card {
    border: 1px solid #007bff;
    border-radius: 8px;
    max-width: 300px;
}

.theme-guide .card .pointer {
    position: absolute;
    top: -10px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #007bff;
}

/* Animation for the guide */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
